<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key = "LoginUrl"         value = "https://www.litres.ru/pages/login/"/>
      <add key = "RecentUrl"        value = "https://www.litres.ru/pages/my_books_fresh/"/>
      <add key = "ArchivedUrl"      value = "https://www.litres.ru/pages/my_books_removed/"/>
      <add key = "NewFolder"        value = ""/>
      <add key = "BookFolder"       value = ""/>
      <add key = "DataFolder"       value = ""/>
      <add key = "RequestInterval"  value ="10000"/>  <!--Milliseconds-->
      <add key = "WaitPageLoading"  value ="10000"/>  <!--Milliseconds-->
   </appSettings>
</configuration>
