<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <!-- URLs of the relevant litres.ru pages -->
      <add key = "LoginUrl"         value = "https://www.litres.ru/pages/login/"/>
      <add key = "RecentUrl"        value = "https://www.litres.ru/pages/my_books_fresh/"/>
      <add key = "RemovedUrl"       value = "https://www.litres.ru/pages/my_books_removed/"/>
      <!-- Download target folder for audio book files -->
      <add key = "AudioFolder"      value = "E:\OneDrive\LitGet\Audio"/>
      <!-- Download target folder for e-book (text) files -->
      <add key = "BooksFolder"      value = "E:\OneDrive\LitGet\Books"/>
      <!-- Application data folder -->
      <add key = "DataFolder"       value = "E:\OneDrive\LitGet\Data"/>
      <!-- Max internal between requests to server, actual is radomized, milliseconds-->
      <add key = "RequestInterval"  value ="10000"/>
      <!-- Minimum time to wait for page loading, milliseconds -->
      <add key = "WaitPageLoading"  value ="10000"/>
   </appSettings>
</configuration>
